$back-color: #00796B;
$secondary-color: #607D8B;
$main-accent-color: #009688;
$middle-color: #009688;
$minor-accent-color:#BDBDBD;
$font-color: #FFF;
$sec-font-color:#212121;

$font: 'Quicksand';


.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear:both;
}

[type="text"],
[type="email"],
[type="password"]{
	color: $font-color;
	padding: .25rem 0 0;
	font-size: 1.25rem;
	font-weight: 400;
	width: 100%;
	border: none;
	border-bottom: 1px solid;
	background: none;
	transition: color .3s ease;
	font-family: $font, sans-serif;

	&::-webkit-input-placeholder {
		color: $font-color;
	}
}
[type="text"]:focus,
[type="email"]:focus,
[type="password"]:focus{
	color: $font-color;
	outline: 0;

	&::-webkit-input-placeholder {
		color: $sec-font-color;
	}
}